# アプリ
API_PORT=5000
WEB_PORT=3000

# Firebase（本番は Firebase Console のプロジェクト ID、ローカルはエミュレータ用）
FIREBASE_PROJECT_ID=demo-hakkason
REACT_APP_FIREBASE_PROJECT_ID=hackatho-37
REACT_APP_FIREBASE_API_KEY=AIzaSyBtWLyjt4oyL1v9zabyLSQs-xnVkIGgN0Q
REACT_APP_FIREBASE_AUTH_DOMAIN=hackatho-37.firebaseapp.com
REACT_APP_FIREBASE_STORAGE_BUCKET=hackatho-37.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=680213921418
REACT_APP_FIREBASE_APP_ID=1:680213921418:web:77844dfb500ef73e937773
REACT_APP_FIREBASE_MEASUREMENT_ID=G-MSCDPG625Z
